<h1><%= @tictac.name %></h1>

<%= form_for(@tictac) do |f| %>

  

  <table id='tictac_board'>
    <%= f.fields_for :move do |m| %>
    <tr>
      <td class='square'>
        <%if @tictac.moves.find_by_square(0) != nil %>
          <div style="color: blue;"><%= @tictac.moves.find_by_square(0).symbol%></div>
        <% else %>
          <% if current_user.id == @tictac.player1_id%>
          <button type="submit" name="square" value="sq0">X</button>
          <% else %>
          <button type="submit" name="square" value="sq0">O</button>
          <% end %>
        <% end %>  
      </td>
 
      <td class='square'>
        <% if current_user.id == @tictac.player1_id%>
        <button type="submit" value="sq0">X</button>
        <% else %>
        <button type="submit" value="sq0">O</button>
        <% end %>
      </td>
      <td class='square'>
        <% if current_user.id == @tictac.player1_id%>
        <button type="submit" value="sq0">X</button>
        <% else %>
        <button type="submit" value="sq0">O</button>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class='square'>
        <% if current_user.id == @tictac.player1_id%>
        <button type="submit" value="sq0">X</button>
        <% else %>
        <button type="submit" value="sq0">O</button>
        <% end %>
      </td>
      <td class='square'>
        <% if current_user.id == @tictac.player1_id%>
        <button type="submit" value="sq0">X</button>
        <% else %>
        <button type="submit" value="sq0">O</button>
        <% end %>
      </td>
      <td class='square'>
        <% if current_user.id == @tictac.player1_id%>
        <button type="submit" value="sq0">X</button>
        <% else %>
        <button type="submit" value="sq0">O</button>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class='square'>
        <% if current_user.id == @tictac.player1_id%>
        <button type="submit" value="sq0">X</button>
        <% else %>
        <button type="submit" value="sq0">O</button>
        <% end %>
      </td>
      <td class='square'>
        <% if current_user.id == @tictac.player1_id%>
        <button type="submit" value="sq0">X</button>
        <% else %>
        <button type="submit" value="sq0">O</button>
        <% end %>
      </td>
      <td class='square'>
        <% if current_user.id == @tictac.player1_id%>
        <button type="submit" value="sq0">X</button>
        <% else %>
        <button type="submit" value="sq0">O</button>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>


  <div class="actions">
  </div>
<% end %>

<%= link_to 'All Tic-Tac-Toe Games', tictacs_path %>
