<p><%= link_to 'New Tictac', new_tictac_path %></p>


<h1>Available Tic-Tac-Toe Games</h1>

<table class='tictac_display'>
  <tr>
    <th>Game Type</th>
    <th>Game Name</th>
    <th>Player1</th>
    <th>Player2</th>
    <th>Result</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @tictacs.each do |tictac| %>
  <% if tictac.result == 'still_active' %>
  <tr>
    <td><%= tictac.game.name %></td>
    <td><%= tictac.name %></td>
    <td><%= tictac.player1_id %></td>
    <td><%= tictac.player2_id %></td>
    <td><%= tictac.result %></td>
    <td><%= link_to 'Play', edit_tictac_path(tictac) %></td>
    <td><%= link_to 'Destroy', tictac, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
  <% end %>
</table>


<h1>Completed Tic-Tac-Toe Games</h1>

<table class='tictac_display'>
  <tr>
    <th>Game Type</th>
    <th>Game Name</th>
    <th>Player1</th>
    <th>Player2</th>
    <th>Result</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @tictacs.each do |tictac| %>
  <% if tictac.result != 'still_active' %>
  <tr>
    <td><%= tictac.game.name %></td>
    <td><%= tictac.name %></td>
    <td><%= tictac.player1_id %></td>
    <td><%= tictac.player2_id %></td>
    <td><%= tictac.result %></td>
    <td><%= link_to 'Show', tictac %></td>
    <td><%= link_to 'Destroy', tictac, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
  <% end %>
</table>



