<h1>New tictac</h1>

<%= form_for(@tictac) do |f| %>

  <% if @tictac.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tictac.errors.count, "error") %> prohibited this tictac from being saved:</h2>

      <ul>
      <% @tictac.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "What would you like to name this game?" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<!-- add player 2 or computer -->


<% end %>

<%= link_to 'All Tic-Tac-Toe Games', tictacs_path %>
