<h1>New tictac</h1>

<%= form_for(@tictac) do |f| %>

<div class="field">
  <%= f.label :player2, "" %><br />
  <%= f.number_field :player2 %>
</div>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>

<%= link_to 'Back', tictacs_path %>
