<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
  <%= @tictac.game_id %>
</p>

<p>
  <b>Sq0:</b>
  <%= @tictac.sq0 %>
</p>

<p>
  <b>Sq1:</b>
  <%= @tictac.sq1 %>
</p>

<p>
  <b>Sq2:</b>
  <%= @tictac.sq2 %>
</p>

<p>
  <b>Sq3:</b>
  <%= @tictac.sq3 %>
</p>

<p>
  <b>Sq4:</b>
  <%= @tictac.sq4 %>
</p>

<p>
  <b>Sq5:</b>
  <%= @tictac.sq5 %>
</p>

<p>
  <b>Sq6:</b>
  <%= @tictac.sq6 %>
</p>

<p>
  <b>Sq7:</b>
  <%= @tictac.sq7 %>
</p>

<p>
  <b>Sq8:</b>
  <%= @tictac.sq8 %>
</p>

<p>
  <b>Player1:</b>
  <%= @tictac.player1 %>
</p>

<p>
  <b>Player2:</b>
  <%= @tictac.player2 %>
</p>

<p>
  <b>Result:</b>
  <%= @tictac.result %>
</p>

<p>
  <b>Game:</b>
  <%= @tictac.game %>
</p>


<%= link_to 'Edit', edit_tictac_path(@tictac) %> |
<%= link_to 'Back', tictacs_path %>
