<p id="notice"><%= notice %></p>

<h1>
  <%= @tictac.name %>
</h1>

<%if @tictac.result != 'still_active' %>
  <p>Result: <%= @tictac.result %></p>
<% else %>
  <h3><%= link_to 'PLAY', edit_tictac_path %></h3>
<% end %>

<p>Current Board Status: </p>

<table id='tictac_board'>
  <tr>
    <td class='square'>X</td>
    <td class='square'>X</td>
    <td class='square'>X</td>
  </tr>
  <tr>
    <td class='square'>O</td>
    <td class='square'>O</td>
    <td class='square'>O</td>
  </tr>
  <tr>
    <td class='square'>X</td>
    <td class='square'>X</td>
    <td class='square'>X</td>
  </tr>
</table>

<p class='scoreboard'>
</p>

<%= link_to 'Back', tictacs_path %>
