<h1>My Profile</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Score:</b>
  <%= @user.score %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to "Delete Account", @user, :confirm => 'Are you sure?', :method => :delete %>
